@media (min-width:0px) and (max-width:320px) {

    .nav-container {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-area.active {
        display: flex;
    }

    .logo {
        font-size: 1rem;

    }

    .link-paste-container {
        width: 99%;
        padding: 1rem;
        gap: 1rem;
    }

    .l-p-heading h1 {
        font-size: 1.5rem;
    }

    .l-p-heading h3 {
        font-size: 1.5rem;
    }

    .l-p-heading p {
        width: 85%;
        font-size: 0.7rem;
    }

    .link-input-container {
        flex-direction: column;
        width: 95%;
        gap: 1rem;
    }

    .link-input-container input {
        width: 95%;
        font-size: 0.8rem;
        padding: 0.7rem;
        border-radius: 0.5rem;
    }

    .link-input-container button {
        width: 75%;
        padding: 0.7rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tags-card {
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
    }

    .tags-card i {
        font-size: 0.7rem;
    }


    .u-g-card-container {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .u-g-heading {
        font-size: 1rem;
    }

    .u-g-card {
        width: 90%;
    }

    .u-g-card img {
        width: 90%;
    }



    .about-app-container {
        flex-wrap: wrap;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-heading {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .about-app-card-container {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }


    .a-a-card {
        height: 50vh;
        width: 99%;
    }

    .a-a-card i {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }

    .a-a-card h2 {
        font-size: 1.5rem;
    }

    .a-a-card p {
        font-size: 0.8rem;
    }

    .legal-advice-container {
        width: 99%;
        height: fit-content;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .legal-advice-heading {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 1rem;
        font-size: 0.7rem;
    }


    .legal-advice-heading i {
        font-size: 1rem;
        width: 40px;
        height: 40px;

    }


    .legal-advice-content {
        font-size: 0.7rem;
        line-height: 1rem;
        width: 99%;
    }

    .l-a-card {
        width: 99%;
    }

    .legal-advice-content button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }


    .footer-background {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-heading h1 {
        font-size: 2.5rem;
    }

    .footer-heading p {
        width: 70%;
    }


    .middle-content {
        margin-top: 2rem;
        align-items: center;
        text-align: center;
    }


    .right-content {
        margin-top: 2rem;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }


}


@media (min-width:321px) and (max-width:576px) {


    .logo {
        font-size: 1.2rem;

    }

    .nav-container {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-area.active {
        display: flex;
    }


    .link-paste-container {
        width: 99%;
        padding: 1rem;
        gap: 1rem;
    }

    .l-p-heading h3 {
        font-size: 2.8rem;
    }


    .l-p-heading p {
        width: 85%;
    }

    .link-input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .link-input-container input {
        width: 95%;
        padding: 0.7rem;
        border-radius: 0.5rem;
    }

    .link-input-container button {
        width: 75%;
        padding: 0.7rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .u-g-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .u-g-card {
        width: 45%;
    }

    .about-app-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .about-app-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .a-a-card {
        width: 75%;
    }


    .legal-advice-container {
        width: 100%;
        height: fit-content;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .legal-advice-heading {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 1rem;
        font-size: 0.7rem;
    }


    .legal-advice-heading i {
        font-size: 1rem;
        width: 40px;
        height: 40px;

    }


    .legal-advice-content {
        width: 100%;
    }

    .l-a-card {
        width: 99%;
    }

    .legal-advice-content button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }



    .footer-background {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.5rem;
    }

    .middle-content {
        text-align: center;
    }

    .right-content {
        text-align: center;
    }


}



@media (min-width: 577px) and (max-width: 768px) {



    .link-paste-container {
        width: 90%;
        padding: 1rem;
        gap: 1rem;
    }

    .u-g-card {
        width: 30%;
    }


    .u-g-card-container {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .about-app-container {
        flex-wrap: wrap;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .about-app-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .a-a-card {
        height: 60vh;
        width: 45%;
    }

    .l-a-card {
        width: 99%;
    }

    .link-paste-container {
        width: 99%;
    }

    .link-input-container input {
        width: 75%;
    }

    .link-input-container button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-heading h1 {
        font-size: 2rem;
    }

    .middle-content {
        width: 30%;
        text-align: center;
    }

    .right-content {
        width: 50%;

    }
}


@media (min-width:769px) and (max-width:992px) {



    .link-paste-container {
        width: 70%;
        padding: 1rem;
        gap: 1rem;
    }

    .u-g-card {
        width: 25%;
    }


    .u-g-card-container {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .about-app-container {
        flex-wrap: wrap;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .about-app-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .a-a-card {
        height: 60vh;
        width: 47%;
    }

    .l-a-card {
        width: 99%;
    }

    .link-paste-container {
        width: 99%;
    }

    .link-input-container input {
        width: 75%;
    }

    .link-input-container button {
        display: flex;
        justify-content: center;
        align-items: center;
    }



}


@media (min-width:993px) and (max-width:1200px) {


    .link-paste-container button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .u-g-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .u-g-card {
        width: 26%;
        font-size: 1.3rem;
    }


    .about-heading {
        width: 20%;
        font-size: 1.2rem;
    }

    .a-a-card i {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 85px;
        height: 85px;
        font-size: 3rem;
    }


}